{% extends "base.html" %} 

{% block head_title %}Contact || {{ block.super }}{% endblock head_title %} 

{% block header%}Contact{% endblock header %} 

{% block content%}

<div class="jumbotron">
	<h1 class="display-4">CONTACT</h1>
	<p class="lead">If you want an account on NEWASSETCMS please contact</p>
	<hr class="my-4">
	<p class="lead">
	  <a class="btn btn-primary btn-lg" href="#" role="button">Harrie Smulders</a>
	</p>
	<p class="lead">
	  or
	</p>
	<p class="lead">
	  <a class="btn btn-primary btn-lg" href="#" role="button">Jan Diepens</a>
	</p>
</div>
<div class="container-fluid">

{% endblock content%}
