{% extends "base.html" %} 

{% block head_title %}Buildings || {{ block.super }}{% endblock head_title %} 

{% block content%} 

{% include "_modal.html" %}

<div class="jumbotron">
  <div class="container mt-3">
    {% include 'common/snippets/container_header.html' with h1='Buildings' %}
    <div class="row">
      <div class="col-12 mb-3">
        <button
          class="create-building btn btn-success"
          type="button"
          name="button"
        >
          <span class="fa fa-plus mr-2"></span>Create Building
        </button>
      </div>
      <div class="col-12 mb-3">
        {% if buildings %}
        <table class="table table-sm">
          <thead>
            <tr>
              <th class="text-center" scope="col">#</th>
              <th class="text-center" scope="col">Code</th>
              <th class="text-center" scope="col">Name</th>
              <th class="text-center" scope="col">Read / Update / Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for building in buildings %}
            <tr>
              <th class="text-center" scope="row">{{ forloop.counter }}</th>
              <td class="text-center">{{ building.code }}</td>
              <td class="text-center">{{ building.name }}</td>
              <td class="text-center">
                <button
                  type="button"
                  class="read-building btn btn-sm btn-primary"
                  data-id="{% url 'campus:read_building' building.pk %}"
                >
                  <span class="fa fa-eye"></span>
                </button>
                <button
                  type="button"
                  class="update-building btn btn-sm btn-primary"
                  data-id="{% url 'campus:update_building' building.pk %}"
                >
                  <span class="fa fa-pencil"></span>
                </button>
                <button
                  type="button"
                  class="delete-building btn btn-sm btn-danger"
                  data-id="{% url 'campus:delete_building' building.pk %}"
                >
                  <span class="fa fa-trash"></span>
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p class="no-buildings text-primary">No buildings added yet.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %} {% block extrascripts %}
<script type="text/javascript">
  $(function() {
    // Create building button
    $(".create-building").modalForm({ formURL: "{% url 'campus:create_building' %}" });

    // Update building buttons
    $(".update-building").each(function() {
      $(this).modalForm({ formURL: $(this).data("id") });
    });

    // Read building buttons
    $(".read-building").each(function() {
      $(this).modalForm({ formURL: $(this).data("id") });
    });

    // Delete building buttons
    $(".delete-building").each(function() {
      $(this).modalForm({ formURL: $(this).data("id") });
    });

    // Hide message
    $(".alert")
      .fadeTo(2000, 500)
      .slideUp(500, function() {
        $(".alert").slideUp(500);
      });
  });
</script>
{% endblock extrascripts %}
