{% extends "base.html" %} 

{% load nbsp %}

{% block head_title %}Projects || {{ block.super }}{% endblock head_title %} 

{% block content%} 

{% include "_modal.html" %}

<div class="jumbotron">
  <div class="container mt-3">
    {% include 'common/snippets/container_header.html' with h1='Projects' %}
    <div class="row">
      <div class="col-12 mb-3">
        <button
          class="create-project btn btn-success"
          type="button"
          name="button"
        >
          <span class="fa fa-plus mr-2"></span>Create Project
        </button>
      </div>
      <div class="col-12 mb-3">
        {% if projects %}
        <table class="table table-sm">
          <thead>
            <tr>
              <th class="text-center" scope="col">#</th>
              <th class="text-center" scope="col">Name</th>
              <th class="text-center" scope="col">Manager</th>
              <th class="text-center" scope="col">Start&nbsp;Date</th>
              <th class="text-center" scope="col">End&nbsp;Date</th>
              <th class="text-center" scope="col">Read{% if user.is_authenticated %}&nbsp;/&nbsp;Update&nbsp;/&nbsp;Delete{% endif %}</th>
            </tr>
          </thead>
          <tbody>
            {% for project in projects%}
            {% if project.active %}
            <tr>
              <th class="text-center" scope="row">{{ forloop.counter }}</th>
              <td class="text-center"><a href="{% url 'projects:edit_project' project.pk %}">{{ project.name|nbsp }}</a></td>
              <td class="text-center">{{ project.manager|nbsp }}</td>
              <td class="text-center">{{ project.start_date|nbsp }}</td>
              <td class="text-center">{{ project.end_date|nbsp }}</td>
              <td class="text-center">
                <button
                  type="button"
                  class="read-project btn btn-sm btn-primary"
                  data-id="{% url 'projects:read_project' project.pk %}"
                >
                  <span class="fa fa-eye"></span>
                </button>
                
                {% if user.is_authenticated %}
                <button
                  type="button"
                  class="update-project btn btn-sm btn-primary"
                  data-id="{% url 'projects:update_project' project.pk %}"
                >
                  <span class="fa fa-pencil"></span>
                </button>
                <button
                  type="button"
                  class="delete-project btn btn-sm btn-danger"
                  data-id="{% url 'projects:delete_project' project.pk %}"
                >
                  <span class="fa fa-trash"></span>
                </button>
                {% endif %}
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p class="no-projects text-primary">No projects added yet.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %} 

{% block extrascripts %}
<script type="text/javascript">
  $(function() {
    // Create project button
    $(".create-project").modalForm({ formURL: "{% url 'projects:create_project' %}" });

    // Update project buttons
    $(".update-project").each(function() {
      $(this).modalForm({ formURL: $(this).data("id") });
    });

    // Read project buttons
    $(".read-project").each(function() {
      $(this).modalForm({ formURL: $(this).data("id") });
    });

    // Delete project buttons
    $(".delete-project").each(function() {
      $(this).modalForm({ formURL: $(this).data("id") });
    });

    // Hide message
    $(".alert")
      .fadeTo(2000, 500)
      .slideUp(500, function() {
        $(".alert").slideUp(500);
      });
  });
</script>
{% endblock extrascripts %}
